{include file="common/meta"}
<link rel="stylesheet" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.css">
<script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<style type="text/css">
    *{
        margin: 0;
        padding: 0;
    }
    /*#upBox{*/
        /*text-align: center;*/
        /*width:500px;*/
        /*padding: 20px;*/
        /*border: 1px solid #666;*/
        /*margin: auto;*/
        /*margin-top: 150px;*/
        /*margin-bottom: 200px;*/
        /*position: relative;*/
        /*border-radius: 10px;*/
    /*}*/
    #inputBox{
        width: 100%;
        height: 40px;
        border: 1px solid cornflowerblue;
        color: cornflowerblue;
        border-radius: 20px;
        position: relative;
        text-align: center;
        line-height: 40px;
        overflow: hidden;
        font-size: 16px;
    }
    #inputBox input{
        width: 114%;
        height: 40px;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: -14%;

    }
    #imgBox{
        text-align: left;
    }
    .imgContainer{
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-left: 1%;
        border: 1px solid #666666;
        position: relative;
        margin-top: 30px;
        box-sizing: border-box;
    }
    .imgContainer img{
        width: 120px;
        height: 120px;
        cursor: pointer;
    }
    .imgContainer p{
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 30px;
        background: black;
        text-align: center;
        line-height: 30px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        display: none;
    }
    .imgContainer:hover p{
        display: block;
    }
    #btn-submit{
        display: inline-block;
        text-align: center;
        line-height: 30px;
        outline: none;
        width: 100px;
        height: 30px;
        background: cornflowerblue;
        border: 1px solid cornflowerblue;
        color: white;
        cursor: pointer;
        margin-top: 30px;
        border-radius: 5px;
    }
</style>
<div id="wrapper" class="am-text-sm">
    <div class="am-g">
        <div class="am-u-sm-12 am-u-sm-centered">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <div class="">
                        <a href='{:url("index/index")}' class="am-margin-right-xs am-text-danger"><i class="am-icon-reply"></i>返回上一页</a>
                    </div>
                    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">

                    <div class="console-step row am-margin-bottom-sm">

                        <div class="step am-u-sm-3 step-first step-active">
                            <span class="ng-binding  ">待解决</span>
                        </div>

                        <div class="step am-u-sm-3   step-pass">
                            <span class="ng-binding  ">受理</span>
                        </div>

                        <div class="step am-u-sm-3   step-pass">
                            <span class="ng-binding  ">待回复</span>
                        </div>

                        <div class="step am-u-sm-3 step-first  step-pass">
                            <span class="ng-binding  ">完成</span>
                        </div>
                    </div>

                    <div class="am-padding pt-info-panel ">
                        <div class="am-u-sm-12 am-u-sm-centered">
                            <div><span class="pt-text-explode">问题标题 : </span> {$data.title}</div>
                            <div class="am-g am-g-collapse">
                                <div class="am-u-sm-4"><span class="pt-text-explode">工单编号 : </span>{$data.number}</div>
                                <div class="am-u-sm-4">
                                    <span class="pt-text-explode">提交时间 : </span>{$data.submit_time}</div>
                                <div class="am-u-sm-4"><span class="pt-text-explode">工单状态 : </span>{$sta}                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <h3 class="am-margin-0">沟通记录</h3>
                </div>
                <ul class="am-list am-list-static am-text-sm am-list-hover">
                    {if !empty($list)}
                    {volist name="list" id="vo"}
                    <li class="{php}echo $vo['type'] == '2' ? 'am-text-gray' : '';{/php}">
                        <div class="am-g">
                            <div class="am-u-sm-1">
                                <img src="__STATIC__/home/txzh/{php}echo $vo['type'] == '2' ? 'custom.ico' : 'service.ico';{/php}" alt="" class="am-comment-avatar" width="48" height="48">
                            </div>

                            <div class="am-u-sm-11">
                                <div class="am-block">
                                    <p><span class="pt-text-explode">{$vo.user_name}: {$vo.ticket_chat_content}</span></p>
                                </div>
                                <div class="am-block">{php}echo date('Y-m-d H:i:s',$vo['ticket_chat_time']);{/php}</div>
                                {if isset($vo.img)}
                                    {volist name="$vo['img']" id="v"}
                                        <img onclick="imgDisplay(this)" height="100" width="120" src="{$v.img_url}">
                                    {/volist}
                                {/if}
                            </div>
                        </div>
                    </li>
                    {/volist}
                    {/if}
                    <li class="replyRefresh" data="{$total}" style="display: none">
                        <a href="#reply" onClick="window.location.reload()" class="am-padding-0">
                            <div class="am-alert am-alert-warning am-margin-0 am-text-center">
                                有新回复
                            </div>
                        </a>
                    </li>

                </ul>
            </div>




            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <h3 class="am-margin-0">补充内容</h3>
                </div>




                <ul class="am-list am-list-static am-text-sm">
                    <li>
                        <div class="am-g am-g-collapse">
                            <div class="am-u-lg-8">
                                <form class="am-form ajax-submit" method="POST" data-am-validator="" id="upBox" novalidate="novalidate">
                                    <input type="hidden" name="number" value="{$data.number}">
                                    <div id="inputBox" class="am-form-group am-form-file">
                                        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                        <input type="file" id="file" multiple accept="image/png,image/jpg,image/gif,image/JPEG">
                                    </div>
                                    <div id="imgBox"></div>
                                    <div class="am-form-group pt-reply-content am-form-error">
                                        <label>回复内容</label>
                                        <textarea name="content" rows="5" required="" class="am-field-error am-active"></textarea>

                                    </div>
                                    <button  style="float: right;margin-bottom: 30px;padding-top: 3px;" type="button" id="btn-submit" class="am-btn am-btn-primary am-btn-block" data-am-loading="{spinner: &#39;circle-o-notch&#39;, loadingText: &#39;提交中...&#39;, resetText: &#39;再次提交&#39;}">
                                        提交
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div></div>
{include file="common/footer"}
<script src="__STATIC__/home/txzh/uploadImg.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function(){
        var siteTitle = $('title').html();
        var id = '{$id}';
        setInterval(function(){
            $.get('{:url("realTime")}',{id:id}, function(data){
                var replyRefresh = parseInt($('.replyRefresh').attr('data'));   //3
                var newReply = parseInt(data);
                if(newReply > replyRefresh){
                    $('.replyRefresh').show();
                    $('title').html('[有新回复]'+siteTitle)
                }
            })
        }, 3000)
    });


    imgUpload({
        inputId:'file', //input框id
        imgBox:'imgBox', //图片容器id
        buttonId:'btn-submit', //提交按钮id
        upUrl:'/home/ticket/replay',  //提交地址
        data:'file1', //参数名
        num:"5"//上传个数
    })

</script>
</body></html>