<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>个人首页</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href='{:url("index/member")}' target="_blank">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href='{:url("member/read")}'>
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>错误页面</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>员工管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href='{:url("admin/index")}'>
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>员工列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href='{:url("auth_group/index")}'>
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户组</cite>
                        </a>
                    </li>
                    <li>
                        <a _href='{:url("auth_group/index")}'>
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>规则管理</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>工单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href='{:url("ticket/index")}'>
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>工单列表</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>部门管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href='{:url("dep/index")}'>
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>部门列表</cite>
                        </a>
                    </li>

                </ul>
            </li>


            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe758;</i>-->
                    <!--<cite>工资查询</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe6bc;</i>-->
                    <!--<cite>重要通知</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe6f2;</i>-->
                    <!--<cite>奖惩通告</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe74e;</i>-->
                    <!--<cite>规章制度</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe6ba;</i>-->
                    <!--<cite>投诉建议</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe6ab;</i>-->
                    <!--<cite>请假申请</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe753;</i>-->
                    <!--<cite>通讯录</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe69f;</i>-->
                    <!--<cite>站内信</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe726;</i>-->
                    <!--<cite>人事管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe702;</i>-->
                    <!--<cite>财务管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a href="login.html" target="_blank"><i class="iconfont">&#xe6a7;</i><cite>工资下发</cite></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a _href="error.html"><i class="iconfont">&#xe6a7;</i><cite>费用管理</cite></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe6ae;</i>-->
                    <!--<cite>系统管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a href="login.html" target="_blank"><i class="iconfont">&#xe6a7;</i><cite>绩效管理</cite></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a _href="error.html"><i class="iconfont">&#xe6a7;</i><cite>请假管理</cite></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a _href="error.html"><i class="iconfont">&#xe6a7;</i><cite>公告管理</cite></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a _href="error.html"><i class="iconfont">&#xe6a7;</i><cite>意见箱</cite></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->




        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->